.fade_in {
  animation: fade-in 1s forwards
}

.fade_out {
  animation: fade-out 1s forwards
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
